@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111;
  --foreground: #fff;
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: 'IBM Plex Mono', monospace;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  body {
    text-align: left;
  }
}

canvas {
  display: block;
}