@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IBM Plex Mono', monospace;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  body {
    text-align: left;
  }
}